<div class="container">
	<div class='row'>
		<h3 class="text-center">Edit Spell</h3>
		<div class='col-md-6 col-md-offset-3'>
			<div class='well'>
				<%= form_for @spell do |f| %>
					<div class='form-group'>
						<%= f.label :Name %>
						<%= f.text_field :name, class: 'form-control' %>
					</div>
					<!-- level -->
					<div class='form-group'>
						<%= f.label :Level %>
						<%= f.select(:Level, options_for_select([['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9]])) %>
					</div>
					<!-- Concentration -->
					<div class='form-group'>
						<%= f.check_box(:Concentration) %>
						<%= label_tag(:Concentration, 'Concentration') %>
					</div>
					<!-- Ritual -->
					<div class='form-group'>
						<%= f.check_box(:Ritual) %>
						<%= label_tag(:Ritual, 'Ritual') %>
					</div>

					<!-- School -->
					<div class='form-group'>
						<%= f.label :School %>
						<%= f.select(:school, options_for_select([['Abjuration','Abjuration'],['Conjuration','Conjuration'],['Divination','Divination'],['Enchantment','Enchantment'],['Evocation','Evocation'],['Illusion','Illusion'],['Necromancy','Necromancy'],['Transmutation','Transmutation']])) %>
					</div>
					<!--class make check box selection --> 
					<div class='form-group'>
						<%= f.label :Class %>
						<br>
						<%= f.check_box(:Bard) %>
						<%= label_tag(:Bard, 'Bard') %>
						<%= f.check_box(:Cleric) %>
						<%= label_tag(:Cleric, 'Cleric') %>
						<%= f.check_box(:Druid) %>
						<%= label_tag(:Druid, 'Druid') %>
						<%= f.check_box(:Paladin) %>
						<%= label_tag(:Paladin, 'Paladin') %>
						<%= f.check_box(:Ranger) %>
						<%= label_tag(:Ranger, 'Ranger') %>
						<br>
						<%= f.check_box(:Sorcerer) %>
						<%= label_tag(:Sorcerer, 'Sorcerer') %>
						<%= f.check_box(:Warlock) %>
						<%= label_tag(:Warlock, 'Warlock') %>
						<%= f.check_box(:Wizard) %>
						<%= label_tag(:Wizard, 'Wizard') %>
					</div>
					<!-- casting time  -->
					<div class='form-group'>
						<%= f.label :'Cast Time' %>
						<%= f.select(:'cast time', options_for_select([['1 Action','1 Action'],['1 Bonus','1 Bonus'],['1 Reaction','1 Reaction'],['1 Minute','1 Minute'],['10 Minutes','10 Minutes'],['1 Hour','1 Hour'],['8 Hours','8 Hours'],['12 Hours','12 Hours'],['24 Hours','24 Hours']])) %>
					</div>
					<!-- range -->
					<div class='form-group'>
						<%= f.label :'Distance' %>
						<br>
						<%= f.select(:Range, options_for_select([[:include_blank => true],['Self','Self'],['Touch','Touch']])) %>
						<br>
						<%= f.label :'range in feet'%>
						<%= f.text_field :distance,  class: 'form-control'%>
					</div>
					<!-- Area of Effect -->
					<div class='form-group'>
						<%= f.label :Area %>
						<%= f.text_field :Area, class: 'form-control' %>
					</div>
					<!-- components check box and comment  -->
					<div class='form-group'>
						<%= f.label :'Components' %>
						<br>
						<%= f.check_box(:Verbal) %>
						<%= label_tag(:Verbal, 'Verbal') %>
						<br>
						<%= f.check_box(:Somatic) %>
						<%= label_tag(:Somatic, 'Somatic') %>
						<br>
						<%= f.check_box(:Material) %>
						<%= label_tag(:Material, 'Material') %>
						<br>
						<%= f.label :'Other Components' %>
						<%= f.text_area :'Other Components', class: 'form-control' %>
					</div>
					<!-- duration -->
					<div class='form-group'>
						<%= f.label :'Duration' %>
						<%= f.select(:'Duration', options_for_select([['Instantaneous','Instantaneous'],['1 Round','1 Round'],['1 Minute','1 Minute'],['10 Minutes','10 Minutes'],['1 Hour','1 Hour'],['8 Hours','8 Hours'],['12 Hours','12 Hours'],['24 Hours','24 Hours'],['10 Days','10 Days'],['Special','Special'],['Until Dispelled','Until Dispelled']])) %>
					</div>
					<!-- Attack or save  -->
					<div class='form-group'>
						<%= f.label :Attack %>
						<%= f.select(:'Attack', options_for_select([['Melee','Melee'],['Ranged','Ranged'],['Strength','Strength'],['Dextarity','Dextarity'],['Constitution','Constitution'],['Inteligence','Inteligence'],['Wisdom','Wisdom'],['Charisma','Charisma'],['None','None']])) %>
					</div>
					<!-- source  -->
					<div class='form-group'>
						<%= f.label :'Source' %>
						<%= f.select(:'Source', options_for_select([['Against the Giants','Against the Giants'],['Basic Rules','Basic Rules'],['Curse of Strahd','Curse of Strahd'],['Curse of Strahd: Character Options','Curse of Strahd: Character Options'],[  'Dead in Thay', 'Dead in Thay'],['Dungeon Masters Guide','Dungeon Masters Guide'],['Elemental Evil Players Companion','Elemental Evil Players Companion'],['Guildmaster Guide to Ravnica','Guildmaster Guide to Ravnica'],['Lost Laboratory of Kwalish','Lost Laboratory of Kwalish'],['Lost Mine of Phandelver','Lost Mine of Phandelver'],['Monster Manual','Monster Manual'],['Mordenkaines Tome of Foes','Mordenkaines Tome of Foes'],['Out of the Abyss','Out of the Abyss'],['Players Handbook','Players Handbook'],['Princes of the Apocalypse','Princes of the Apocalypse'],['Rise of Tiamat','Rise of Tiamat'],['Rakkma','Rakkma'],['Storm Kings Thunder','Storm Kings Thunder'],['Sword Coast Adventure Guide','Sword Coast Adventure Guide'],['Tales from the Yawning Portal','Tales from the Yawning Portal'],['The Forge of Fury','The Forge of Fury'],['The hidden Shrine of Tamoachan','The hidden Shrine of Tamoachan',],['The Sunless Citadel','The Sunless Citadel'],['The Tortle Package','The Tortle Package'],['Tomb of Annihilation','Tomb of Annihilation'],['Tomb of Horrors','Tomb of Horrors'],['Unearthed Arcana','Unearthed Arcana'],['Volos Guide to Monsters','Volos Guide to Monsters'],['Waterdeep Heist','Waterdeep Heist'],['Waterdeep Dungeon of the Mad Mage','Waterdeep Dungeon of the Mad Mage'],['Wayfinders Guide to Eberron','Wayfinders Guide to Eberron'],['White Plume Mountain','White Plume Mountain',],['Xanathars Guide to Everything','Xanathars Guide to Everything']])) %>
					</div>
					<!-- Page --> 
					<div class='form-group'>
						<%= f.label :Page %>
						<%= f.text_field :Page, class: 'form-control' %>
					<!-- description -->
					<div class='form-group'>
						<%= f.label :'Description' %>
						<%= f.text_area :Description, class: 'form-control' %>
					</div>
					<!-- submit -->
					<%= f.submit 'Submit' %>
				<% end %>
			</div>
		</div>
	</div>
</div>