<h3> Cantrips </h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 0 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 1</h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 1 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 2 </h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 2 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 3 </h3><br>
<% @spells.each do |spell| %>
	<% if spell.Level == 3 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 4 </h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 4 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 5 </h3><br>
<% @spells.each do |spell| %>
	<% if spell.Level == 5 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 6 </h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 6 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 7 </h3><br>
<% @spells.each do |spell| %>
	<% if spell.Level == 7 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 8 </h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 8 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>
<br>
<br>
<h3> Level 9 </h3> <br>
<% @spells.each do |spell| %>
	<% if spell.Level == 9 %>
		<%= spell.name %> <br>
	<% end %>
<% end %>