<div class-"container">
	<div class='row'>
		<h3 class="text-center">Add Spell</h3>
		<div class='col-md-6 col-md-offset-3'>
			<div class='well'>
				<%= form_for @spell do |f| %>
					<div class='form-group'>
						<%= f.label :Name %>
						<%= f.text_field :name, class: 'form-control' %>
					</div>
					<!-- level -->
					<div class='form-group'>
						<%= f.label :Level %>
						<%= f.select(:Level, options_for_select([['0',1],['1',2],['2',3],['3',4],['4',5],['5',6],['6',7],['7',8],['8',9],['9',10]])) %>
					</div>
					<!-- School -->
					<div class='form-group'>
						<%= f.label :School %>
						<%= f.select(:school, options_for_select([['Abjuration',1],['Conjuration',2],['Divination',3],['Enchantment',4],['Evocation',5],['Illusion',6],['Necromancy',7],['Transmutation',8]])) %>
					</div>
					<!--class make check box selection --> 
					<div class='form-group'>
						<%= f.label :Class %>
						<br>
						<%= f.check_box(:Bard) %>
						<%= label_tag(:Bard, 'Bard') %>
						<%= f.check_box(:Cleric) %>
						<%= label_tag(:Cleric, 'Cleric') %>
						<%= f.check_box(:Druid) %>
						<%= label_tag(:Druid, 'Druid') %>
						<%= f.check_box(:Paladin) %>
						<%= label_tag(:Paladin, 'Paladin') %>
						<%= f.check_box(:Ranger) %>
						<%= label_tag(:Ranger, 'Ranger') %>
						<br>
						<%= f.check_box(:Sorcerer) %>
						<%= label_tag(:Sorcerer, 'Sorcerer') %>
						<%= f.check_box(:Warlock) %>
						<%= label_tag(:Warlock, 'Warlock') %>
						<%= f.check_box(:Wizard) %>
						<%= label_tag(:Wizard, 'Wizard') %>
					</div>
					<!-- casting time  -->
					<div class='form-group'>
						<%= f.label :'Cast Time' %>
						<%= f.select(:'cast time', options_for_select([['1 Action',1],['1 Bonus',2],['1 Reaction',3],['1 Minute',4],[  '10 Minutes',5],['1 Hour',6],['8 Hours',7],['12 Hours',8],['24 Hours',9]])) %>
					</div>
					<!-- range -->
					<div class='form-group'>
						<%= f.label :'Distance' %>
						<br>
						<%= f.select(:Range, options_for_select([[:include_blank => true],['Self',1],['Touch',2]])) %>
						<br>
						<%= f.label :'range in feet'%>
						<%= f.text_field :distance,  class: 'form-control'%>
					</div>
					<!-- components check box and comment  -->
					<div class='form-group'>
						<%= f.label :'Components' %>
						<br>
						<%= f.check_box(:Verbal) %>
						<%= label_tag(:Verbal, 'Verbal') %>
						<br>
						<%= f.check_box(:Somatic) %>
						<%= label_tag(:Somatic, 'Somatic') %>
						<br>
						<%= f.check_box(:Material) %>
						<%= label_tag(:Material, 'Material') %>
						<br>
						<%= f.label :'Other Components' %>
						<%= f.text_area :'Other Components', class: 'form-control' %>
					</div>
					<!-- duration -->
					<div class='form-group'>
						<%= f.label :'Duration' %>
						<%= f.select(:'Duration', options_for_select([['Instantaneous',1],['1 Round',2],['1 Minute',3],['10 Minutes',4],[  '1 Hour',5],['8 Hours',6],['12 Hours',7],['24 Hours',8],['10 Days',9],['Special',10],['Until Dispelled',11]])) %>
					</div>
					<!-- Attack or save  -->
					<div class='form-group'>
						<%= f.label :Attack %>
						<%= f.select(:'Attack', options_for_select([['Melee',1],['Ranged',2],['Strength',3],['Dextarity',4],[  'Constitution',5],['Inteligence',6],['Wisdom',7],['Charisma',8],['None',9]])) %>
					</div>
					<!-- source  -->
					<div class='form-group'>
						<%= f.label :'Source' %>
						<%= f.select(:'Source', options_for_select([['Against the Giants',1],['Basic Rules',2],['Curse of Strahd',3],['Curse of Strahd: Character Options',4],[  'Dead in Thay',5],['Dungeon Masters Guide',6],['Elemental Evil Players Companion',7],['Guildmaster Guide to Ravnica',8],['Lost Laboratory of Kwalish',9],['Lost Mine of Phandelver',10],['Monster Manual',11],['Mordenkaines Tome of Foes',11],['Out of the Abyss',11],['Players Handbook',11],['Princes of the Apocalypse',11],[' Rise of Tiamat',11],['RRakkma',11],['Storm Kings Thunder',11],['Sword Coast Adventure Guide',11],['Tales from the Yawning Portal',11],['The Forge of Fury',11],['The hidden Shrine of Tamoachan',11],['The Sunless Citadel',11],['The Tortle Package',11],['Tomb of Annihilation',11],['Tomb of Horrors',11],['Unearthed Arcana',11],['Volos Guide to Monsters',11],['Waterdeep Heist',11],['Waterdeep Dungeon of the Mad Mage',11],['Wayfinders Guide to Eberron',11],['White Plume Mountain',11],['Xanathars Guide to Everything',11]])) %>
					</div>
					<!-- description -->
					<div class='form-group'>
						<%= f.label :'Description' %>
						<%= f.text_area :Description, class: 'form-control' %>
					</div>
					<!-- description -->
					<%= f.submit 'Submit' %>
				<% end %>
			</div>
		</div>
	</div>
</div>