<div class="container">
	<div class="row">
		<h3 class="text-center"><%= @spell.name %> <%= link_to edit_spell_path do %> <div style="font-size: 0.5rem; display:inline; vertical-align: super;"> <i class="far fa-edit fa-2x"></i> </h3><br><% end %> </div> 
		<div class= 'col-md-6 col-md-offset-3'>
			<div class='well'>
				<strong> Level:</strong>
				<%= @spell.Level %>
				<br>
				<strong>Concentration: </strong>
				<% if @spell.Concentration == 1 %>
					yes
					<br>
				<% end %>
				<strong>Ritual: </strong>
				<% if @spell.Ritual == 1 %>
					yes
					<br>
				<% end %>
				<strong>School:</strong>
				<%= @spell.school %>
				<br>
				<strong>Class:</strong>
				<% if @spell.Bard == 1 %>
					Bard
				<% end %>
				<% if @spell.Cleric == 1 %>
					Cleric
				<% end %>
				<% if @spell.Druid == 1 %>
					Druid
				<% end %>
				<% if @spell.Paladin == 1 %>
					Paladin
				<% end %>
				<% if @spell.Ranger == 1 %>
					Ranger
				<% end %>
				<% if @spell.Sorcerer == 1 %>
					Sorcerer
				<% end %>
				<% if @spell.Warlock == 1 %>
					Warlock
				<% end %>
				<% if @spell.Warlock == 1 %>
					Wizard
				<% end %>
				<br>
				<strong>Casting Time: </strong>
				<%= @spell.cast_time %>
				<br>
				<strong>Range:</strong>
				<% if @spell.distance != nil %>
					<%= @spell.distance %>
				<% end %>
				<% if @spell.distance != nil %>
					

				<% end %>
				<% if @spell.Range != nil %>
					<%= @spell.Range %>
				<% end %>
				<% if @spell.Range.blank? %>
					<% ft = 'ft' %>
					<%= ft %>
				<% end %>
				<br>
				<strong>Area:</strong>
				<%= @spell.Area %>
				<br>
				<strong>Components: </strong>
				<% if @spell.Verbal == 1 %>
					V
					
				<% end %>
				<% if @spell.Somatic == 1 %>
					S
					
				<% end %>
				<% if @spell.Material == 1 %>
					M
					<br>
				<% end %>
				<strong>Other Components:</strong>
				<% if @spell.Other_Components != nil %>
						<%= @spell.Other_Components %>
				<% end %>
				<br>
				<strong>Duration:</strong>
				<%= @spell.Duration %>
				<br>
				<strong>Attack/Save:</strong>
				<%= @spell.Attack %>
				<br>
				<strong>Source:</strong>
				<%= @spell.Source %>
				<br>
				<strong>Page: </strong>
				<%= @spell.Page %>
				<br>
				<strong>Description:</strong>
				<%= @spell.Description %>
				<br>
			</div>
		</div>
	</div>
</div>
